.info-page {
  width: 80%;
  margin: auto;
  text-align: left;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.info-page div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.info-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.info-page div p {
  margin-bottom: 10px;
  font-size: 20px;
}

.info-page div button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
}

.info-page div button:hover {
  background-color: #ccc;
  color: #333;
}
